<% include ./partials/header %>

<div class="container">
	<div class="row" id="square-row">
		<% languages.forEach(function(language) { %>
			<div class="col-lg-4 col-md-6" id="square-column">
				<a href="<%= language %>" class="square">
					<img src="/images/<%= language %>.png">
				</a>
			</div>	
		<% }); %>
		<div class="col-lg-4 col-md-6" id="square-column">
			<a href="/all-repositories" class="square">
				<img src="/images/git.png">
			</a>
		</div>	
	</div>
</div>	  

<% include ./partials/footer %>